<!DOCTYPE html>

<html class="gradient-bg">
  <head>
    <link
      href="https://fonts.googleapis.com/css2?family=Halant&family=Nunito+Sans"
      rel="stylesheet"
      type="text/css"
    />
    <link rel="stylesheet" href="css/style_new.css" />
    <link rel="stylesheet" href="css/nav-bar.css" />
    <title><%= siteName %> | <%= pageTitle %></title>
  </head>
  <body>
    <div class="content">
      <%- include('./partials/nav-bar') %> <%- include('./partials/lipsum') %>
      <div class="iframe-container">
        <iframe
          src="https://www.youtube-nocookie.com/embed/vMJLepZVbQs"
          allow="accelerometer; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
    </div>

    <footer>
      <%- include('./partials/footer') %>
    </footer>
  </body>
</html>
